{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Search Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,669;1,669&display=swap" rel="stylesheet">
</head>

<body class="light">
    <!-- The Modal -->
    {% include 'modal.html' %}

    <section class="grid-section bg-red">
        <div class="searchSystem flexrow-clcl">
            {% include 'userInput.html' %}
        </div>
        <div class="resultContainer">
            <div id="searchResult">
            </div>
        </div>
    </section>
    <script src=" {% static 'js/main.js'%} " type="text/javascript ">
    </script>
</body>

</html>