<div class="title">
    <p>Read what <span class="spanTitle" style="color: var(--bg); background-color: var(--darkgrey);">matters</span> to you.</p>
</div>
<form id="searchForm">
    <input type="search" id="searchText" placeholder="> What's the title?">
</form>
<button id="rankBtn">Ranking</button>